//Menu button
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;
    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0px 0 5px 0;
        background: $text-color;
        @include easeOut;
    }

    // obrot w poziomie
    &.close {
        transform: rotate(180deg);

        .btn-line {
            position: relative;
            //linia 1
            &:nth-child(1) {
                transform: rotate(45deg);
            }
            //linia 2
            &:nth-child(2) {
                display: none;
            }
            //linia 3
            &:nth-child(3) {
                transform: rotate(-45deg);
                position: absolute;
                top:0;              
            }
        }
    }
}
.menu-btn:hover .btn-line  {
    background-color: $secondary-color;
}
// zakrycie menu 
.menu {
    position: fixed;
    top:0;
    width: 100%;
    opacity:0.9;
    visibility: hidden;

    &.show {
        visibility: visible;
    }
    &-branding, &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }
    &-nav {
        margin: 0;
        padding: 0;
        background: $primary-color;
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;
        &.show {
            //wejscier z gory
            transform: translate3d(0,0,0);
        }
    }

    //Obrazek
    &-branding {
        background: darken($primary-color, 5);
        @include easeOut;
        transform: translate3d(0, 100%, 0);
        &.show {
            transform: translate3d(0,0,0);
        }

        .portrait {
            width: 250px;
            height: 250px;
            background: url('../img/IMG_ola_250px.jpg') no-repeat;
            border-radius: 50%;
            border: solid 3px $secondary-color;
        }
    }
    .nav-item {
        transform: translate3d(600px, 0, 0);
        @include easeOut;
        &.current > a {
            color: $secondary-color;
        }
        &.show {
            transform: translate3d(0, 0, 0);
            }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        text-align: center;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 500;
        color: $text-color;
        text-decoration: none;
        @include easeOut;
    }

    .nav-link:hover {
        color: $secondary-color;
    }
}
//opóźnienie w pojawianiu się z lewej stronmy części menu
@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}