@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}
body {
    @include background;
    background-color: $primary-color;
    color: $text-color;
    height: 100%;
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//headings
h1, h2, h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 4rem;
        
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.2);
    }
}
a {
    color: $text-color;
    text-decoration: none;
}
header {
    position: fixed;
    z-index: 2;
    width: 100%; 
}
.secondary {
    color: darken($secondary-color, 1);
}

main {
    padding: 2rem;
    // height: 100%;
    //sticky footer 
    min-height: calc(100vh - 50px);
    
    .icons {
        margin-top: 1rem;
        
        a {
            padding: 0.4rem;
            // &:hover replace main > .icons > a:hover
            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
        span {
            font-size: 2rem;
        }
    }
    // & replace: main > .home
    &#home {
        overflow: hidden;
        min-height: 100vh;
        //moved to lg-heading
        h1 {
            margin-top: 20vh;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'bio-img bio bio' 'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-img {
        grid-area: bio-img;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;

    }
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
        text-align: justify;
    }
    .job-1 {
        grid-area: job1;
    }
    .job-2 {
        grid-area: job2;
    }
    .job-2 {
        grid-area: job2;
    }
    .job {
        background: rgba(lighten($primary-color, 5), $background-opacity);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
        text-align: justify;
        
    }
}

// Projekty
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;
    img {
        width: 100%;
        border: 3px $text-color solid;
    }
}
.projects {
    .item {
        position: relative;
        .link {
            color: $text-color;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            text-align: center;
            padding-left: 5px;
            padding-right: 5px;
            width: 100%;
            
        }
    &:hover .link {
        opacity: 0.9;
        
    }
    &:hover img{
        opacity: 0.2;
        border-color: $secondary-color;
        @include easeOut;
    }
    }
}
//Contact page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    div {
        font-size: 2rem;
        border: 3px $text-color solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;
        background: rgba($primary-color,$background-opacity);
        
        &:hover {
            padding: 1.2rem 2rem;
            background: $primary-color;
            color: $text-color;
            span {
                color: $text-color;
            }
        }
    }

}


//Button styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: $text-color;
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 10);
    color: $text-color;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 10);
    color: $text-color;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: $text-color;
    min-height: 50px;
    p {
        margin:0;
    }
}


@import 'mobile';